header{
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}
header img{
    height: 60px;
    width: 50px;
    margin-bottom: 0px;
}
nav{
    margin-top: 15px;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 0 16px;
}
footer{
    background-color: powderblue;
    text-align: center;
    color:blue;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
}